
div.wrapper.ohnoo 
    - const upDog = dog.toUpperCase();
    p.title Hi BETCH! 
    span#yo eat ma shorts 
    img.doggy(src="dog.jpg" alt=`Dog ${upDog}`)

h2 Heading 2
    em how are you??

h1.title My name is #{name} and my dog is #{dog}